{% extends '_layout.html' %}
{% block title %}Conta{% endblock %}
{% block tituloCard %}Inserindo nova planta no jardim: <div style="float: right;"> <a href="/meujardim/" class="btn btn-light btn-sm">Voltar ao jardim</a> <div>{% endblock %}

{% block content %}
<br>

<center>
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Apelido:</label>
            <input type="text" name="apelido" required>
        </div>
        <br>
        <div>
            <label>Espécie:</label>
            <select name="nomeCientifico">
                {% for planta in listaPlantasBanco %}
                    <option value="{{ planta.cientifico }}">{{ planta.popular }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label>Data da aquisição:</label>
            <input type="date" name="data">
        </div>


        <br>
        <button type="submit" name="cadastrarPlanta" class="btn btn-primary">Cadastrar</button>
    </form>
</center>

<br>

{% endblock %}