{% extends '_layout.html' %}
{% block title %}Conta{% endblock %}
{% block tituloCard %}Informações do cadastro: <div style="float: right;"> <a href="./removerCadastro/{{ SessionUser.userId }}" class="btn btn-light btn-sm">Excluir conta!</a> <div>{% endblock %}

{% block content %}

<center>

    <form method="post">
                    {% csrf_token %}
                    <h1>Jardineiro</h1>
                    <div>
                        <label><font color="green">Nome:</font></label>
                        <input type="text" style="max-width: 400px;" class="form-control" name="nome" value="{{ nomeUser }}" required>
                    </div>

                    <br>

                    <div>
                        <label><font color="green">Cidade:</font></label>
                        <select style="max-width: 400px;" class="form-control" name="cidade">
                            <option value="{{ SessionUser.cidadeUsuario }}" selected>{{ cidadeUser }}</option>
                            <option value="São Paulo - SP">São Paulo - SP</option>
                            <option value="Santos - SP">Santos - SP</option>
                            <option value="Santo André - SP">Santo André - SP</option>
                            <option value="São Bernado do campo - SP">São Bernado do campo - SP</option>
                        </select>
                    </div>

                    <br>

                    <button type="submit" class="btn btn-success">Atualizar cadastro</button>

                    <br><br><br>

                    <div>
                        <label><font color="green">E-mail:</font></label><br>
                        testes@teste.com
                    </div>

                    <br>

                    <div>
                        <label><font color="green">Senha:</font></label><br>
                        <a href="#" class="btn btn-secondary">Redefinir por e-mail</a>
                    </div>

                </form>


</center>

<br>

{% endblock %}